body{
    background-color:#00434c;
    color:#e1ebec;
    font-family:'PT Serif', serif;
}
body{
    margin: 40px auto;
    max-width: 650px;
}

a{
    color: rgb(105, 145, 13)
}

.rect{
    background-color:#34ebcc;
    height:400px;
    width:900px;
    color: black;
    justify-content:center ;
    text-align: left;
    line-height: 60px;

}
.rect a{
    background-color: #34ebcc;

}
#page1{
    text-align:left;
    line-height: 60px;
}
#bigtext{
    text-align: center;
    font-size: 40px;
   
}
.block1{
    background-color: white;
    color:yellowgreen;
    margin-top: 30px;
    text-align:right ;
    justify-content:center;
    padding-top: 70px;
    padding-right:100px;
    padding-left: 10px;
    padding-bottom: 30px;
    font-size: xx-large;
    height: 100px;
    width: 790px;
}
.block2{
    background-color: white;
    color:yellowgreen;
    margin-top: 30px;
    text-align:left center ;
    justify-content:center;
    padding-bottom: 70px;
    padding-left:100px;
    padding-right: 10px;
    padding-top: 30px;
    font-size: xx-large;
    height: 100px;
    width: 790px;
}
.symp{
    background-color:purple;
    height: 400px;
    width: 900px;
    text-align:center;
    table-layout: center;
}
.table{
    border-color: black;
    margin-top: 100px ;
    margin-left: 200px;
    margin-right: 250px;
    margin-bottom: 100px;
    
}
#faq{
    height:800px;
    width:900px;
    background-color: black;
}
.faq1{
    height:200px;
    width:900px;
    background-color: white;
    color:black;
    text-align: center;
}
.faq2{
    height:200px;
    width:900px;
    background-color: white;
    color:black;
    text-align: center;
}
.faq3{
    height:200px;
    width:900px;
    background-color: white;
    color:black;
    text-align: center;
}
.Youtube{
    height:500px;
    width:900px;
    font-size: xx-large;
    font-family:fantasy;
    text-align: center;
    margin-top: 10%;

}
.github{
    height:50px;
    width:900px;
    background-color: #34ebcc;
    color:black;
    text-align: center;
    padding-top: 15px;
}